{
  "presets": [
    [
      "react"
    ],
    [
      "env", 
      { 
        "targets": {
          "browsers": ["last 2 versions"]
        }
      }
    ]
  ],
  "plugins": [
    ["transform-object-rest-spread", { "useBuiltIns": true }],
    ["transform-class-properties"],
    ["babel-plugin-root-import", {
      "rootPathSuffix": "js"
    }]
  ]
}
