@charset "utf-8";

@mixin card_ui($size) {
  background: #FFFFFF;
  box-shadow: 0 0 $size 0 rgba(0,0,0,0.12), 0 $size $size 0 rgba(0,0,0,0.24) !important;
  border-radius: 2px;
}

@mixin over_ellipsis {
  overflow : hidden;
  white-space : nowrap;
  text-overflow : ellipsis;
}

@mixin not_over_ellipsis {
  overflow : auto;
  white-space : pre-wrap;
  text-overflow : clip;
}

@mixin over_ellipsis_multi($linenum) {
  overflow : hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $linenum;
}

@mixin button_normal {
  border-radius: 2px;
  border: none;
  height: 40px;
  min-width: 74px;
  font-size: 16px;
  font-weight: normal;
  text-align: center;
  color: $mainBtnFontColor;
  background-color: $mainBtnColor;
  cursor: pointer;
  padding: 0;
}

@mixin bgImage($url, $width, $height, $position){
  background-image: url($url);
  background-size: $width $height;
  background-repeat: no-repeat;
  background-position: $position;
}

@mixin appearance($type){
  -webkit-appearance: $type;
  -moz-appearance: $type;
  appearance: $type;
}

@mixin scrolly {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch
}
