@charset "utf-8";

// $primaryColorDark:   #00796B;
// $primaryColor:        #009688;
// $primaryColorLight:  #B2DFDB;
// $primaryColorText:   #FFFFFF;
// $accentColor:         #03A9F4;
// $primaryTextColor:   #212121;
// $secondaryTextColor: #757575;
// $dividerColor:        #BDBDBD;

 $primaryColorDark:   #616161;
 $primaryColor:        #9E9E9E;
 $primaryColorLight:  #CCCCCC;
 $primaryColorText:   #FFFFFF;
 $accentColor:         #03A9F4;
 $primaryTextColor:   #212121;
 $secondaryTextColor: #757575;
 $dividerColor:        #BDBDBD;
 $bgColor: #F7F7F7;

// $primaryColorDark:   #1976D2;
// $primaryColor:        #2196F3;
// $primaryColorLight:  #BBDEFB;
// $primaryColorText:   #FFFFFF;
// $accentColor:         #8BC34A;
// $primaryTextColor:   #212121;
// $secondaryTextColor: #757575;
// $dividerColor:        #BDBDBD;

// $primaryColorDark:   #303F9F;
// $primaryColor:        #3F51B5;
// $primaryColorLight:  #C5CAE9;
// $primaryColorText:   #FFFFFF;
// $accentColor:         #03A9F4;
// $primaryTextColor:   #212121;
// $secondaryTextColor: #757575;
// $dividerColor:        #BDBDBD;

// $primaryColorDark:   #455A64;
// $primaryColor:        #607D8B;
// $primaryColorLight:  #9DB0B8;
// $primaryColorText:   #FFFFFF;
// $accentColor:         #03A9F4;
// $primaryTextColor:   #212121;
// $secondaryTextColor: #757575;
// $dividerColor:        #BDBDBD;

$headerHeight: 44px;
$sidemenuWidth: 240px;
$bookmarkWidth: 200px;
